extends layout

block headscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type='text/javascript').
        if (window.location.hash && window.location.hash == '#_=_') {
            console.log('here');
            window.location.hash = '';
        }
block scripts
    script(src="/bundle.js")
block stylesheets
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")

//- block app
//-     #root
//-     p Hello #{sayHelloTo}.
//-     button(onclick="trial();")
