doctype html
html(lang="en")
  head
    block title
      title Survivor Fantasy League
    block headscripts
    block stylesheets
  body
    block app
        #root
    //- block footer
    //-     footer
    //-         p Running node.js with express.js, using jade and stylus.
    block scripts
