.badge {
  margin-left: 0.5em;
  vertical-align: middle;
}
body {
  padding-top: 120px;
}
#root {
  margin-left: 5%;
  margin-right: 5%;
}
#root footer {
  position: fixed;
  bottom: 0;
  color: #f00;
}
#root footer p:before {
  content: "!";
}
